{% extends 'main/base.html' %}
{% load static %}
{% block title %}Aseer{% endblock %}
{% block content %}
<main>
    <section class="city-detail-header">
        <h1 class="translate-text" 
            data-ar=" منطقة عسير " 
            data-en="Aseer City">
            Aseer City
        </h1>
    </section>

    <div class="filter-container">
        <button class="filter-btn active translate-text" data-ar="الكل" data-en="All" onclick="filterSelection('all')">All</button>
        <button class="filter-btn translate-text" data-ar="طبيعة" data-en="Nature" onclick="filterSelection('nature')">Nature</button>
        <button class="filter-btn translate-text" data-ar="ثقافة وتاريخ" data-en="Culture & History" onclick="filterSelection('culture')">Culture & History</button>
        <button class="filter-btn translate-text" data-ar="تسوق" data-en="Shopping" onclick="filterSelection('shopping')">Shopping</button>
        <button class="filter-btn translate-text" data-ar="أودية" data-en="Valley" onclick="filterSelection('valley')">Valley</button>
        <button class="filter-btn translate-text" data-ar="ترفية" data-en="Entertaiment" onclick="filterSelection('entertaiment')">Entertaiment</button>
    </div>

    <div class="riyadh-grid">
        
        <div class="city-card filter-item entertaiment nature">
            <div class="card-image"><img src="{% static 'images/art-street.jpg' %}" alt="Art Street"></div>
            <div class="card-content">
                <h3 class="translate-text" data-ar=" شارع الفن " data-en="Art Street">Art Street</h3>
                <p class="translate-text" data-ar="ترفية " data-en="Entertaiment">Entertaiment</p>
            </div>
        </div>

        <div class="city-card filter-item entertaiment nature">
            <div class="card-image"><img src="{% static 'images/high-city.jpg' %}" alt="High City"></div>
            <div class="card-content">
                <h3 class="translate-text" data-ar=" مطل المدينة العالية " data-en=" High City ">High City</h3>
                <p class="translate-text" data-ar="ترفية " data-en="Entertaiment">Entertaiment</p>
            </div>
        </div>

        <div class="city-card filter-item entertaiment">
            <div class="card-image"><img src="{% static 'images/sudah-mount.jpg' %}" alt="Sudah Mountain"></div>
            <div class="card-content">
                <h3 class="translate-text" data-ar=" جبل السودة " data-en=" Sudah Mountain "> Sudah Mountain </h3>
                <p class="translate-text" data-ar="ترفية " data-en="Entertaiment">Entertaiment</p>
            </div>
        </div>

        <div class="city-card filter-item entertaiment">
            <div class="card-image"><img src="{% static 'images/Fog-walkway.jpg' %}" alt="Fog Walkway"></div>
            <div class="card-content">
                <h3 class="translate-text" data-ar=" ممشى الضباب " data-en=" Fog Walkway "> Fog Walkway </h3>
                <p class="translate-text" data-ar="ترفية " data-en="Entertaiment">Entertaiment</p>
            </div>
        </div>

        <div class="city-card filter-item entertaiment">
            <div class="card-image"><img src="{% static 'images/Honey-Tower.jpg' %}" alt="Honey Tower"></div>
            <div class="card-content">
                <h3 class="translate-text" data-ar=" كوخ العسل " data-en=" Bees Tower Honey Refinery ">  Bees Tower Honey Refinery </h3>
                <p class="translate-text" data-ar="ترفية " data-en="Entertaiment">Entertaiment</p>
            </div>
        </div>

        <div class="city-card filter-item entertaiment">
            <div class="card-image"><img src="{% static 'images/farm-aseer.jpg' %}" alt="Farm Aseer"></div>
            <div class="card-content">
                <h3 class="translate-text" data-ar=" مزرعة الليوان " data-en=" Liwan Farm "> Liwan Farm </h3>
                <p class="translate-text" data-ar="ترفية " data-en="Entertaiment">Entertaiment</p>
            </div>
        </div>

        <div class="city-card filter-item entertaiment">
            <div class="card-image"><img src="{% static 'images/strawberry-farm.jpg' %}" alt="Farm Aseer"></div>
            <div class="card-content">
                <h3 class="translate-text" data-ar=" مزرعة السحاب للفراولة " data-en=" Strawberry Farm "> Strawberry Farm </h3>
                <p class="translate-text" data-ar="ترفية " data-en="Entertaiment">Entertaiment</p>
            </div>
        </div>

        <div class="city-card filter-item nature valley">
            <div class="card-image"><img src="{% static 'images/DA-valley.jpg' %}" alt=" Dabuei Valley "></div>
            <div class="card-content">
                <h3 class="translate-text" data-ar=" سد ضبوعي " data-en=" Dabuei Valley "> Dabuei Valley </h3>
                <p class="translate-text" data-ar="طبيعة " data-en="nature">nature</p>
            </div>
        </div>

        

    </div>
</main>

<script>
// وظيفة التصفية (Filtering)
function filterSelection(c) {
    var x, i;
    x = document.getElementsByClassName("filter-item");
    if (c == "all") c = "";
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
        if (x[i].className.indexOf(c) > -1) {
            x[i].style.display = "block";
        }
    }
    // تغيير شكل الزر النشط
    var btns = document.getElementsByClassName("filter-btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].classList.remove("active");
    }
    event.currentTarget.classList.add("active");
}
</script>
{% endblock %}
